{% extends "super-admin/main.html" %}
{% load static %}
{% block sadminTitle %}
student team list
{% endblock sadminTitle %}
{% block sadminMain %}
<div class="bg-cyan-600">
    <div class="text-center py-4 text-3xl text-white">Student Team Members</div>
    <div class="flex justify-end mr-3 py-2">
        <a href="{% url "sadmin:student_add" %}" class="px-3 py-2 rounded text-white bg-cyan-700 hover:bg-cyan-800">Add New members</a>
    </div>
</div>
<div class="px-2">
    <div class="bg-white">
        <div class="mx-auto max-w-2xl px-4 sm:px-6  lg:max-w-7xl lg:px-8">
          <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            {% for student in students %}
              {% include "super-admin/student-team/student-card.html" %}
            {% endfor %}

          </div>
        </div>
    </div>
</div>
{% include "super-admin/student-team/edit.html" %}
{% endblock sadminMain %}
{% block sadminScripts %}
<script>
  var closeButton = document.querySelectorAll('#modalClose');
    closeButton.forEach((c_button)=>{
        c_button.addEventListener('click',()=>{
            $("#studentProfileEditModal").addClass("hidden");
        })
  })
  var profile_update_buttons = document.querySelectorAll("#studentProfileUpdate")
  profile_update_buttons.forEach((pu_button)=>{
    pu_button.addEventListener('click',()=>{

      var student_id = pu_button.getAttribute('data-id')
      $.ajax({
        type:"POST",
        url:"{% url 'sadmin:student_get' %}",
        data:{
          student:student_id,
          'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success:(res)=>{
          if(res['status'] == 'success'){
            $("#studentProfileEditModal").removeClass("hidden")
            $("#showStudentimage").empty()
            $("#edit_profile_image").addClass('hidden')
            var student = res['student'];
            $("#editstudentid").val(student[0])
            $("#user_name").val(student[1])
            $("#email").val(student[2])
            $("#student_id").val(student[3])
            $("#phone_number").val(student[4])
            var image = '';
            if(student[5] != ' '){
              image = '<img class="w-[120px] h-[70px] rounded justify-center items-end" id="studentProfileImage" src="/media/'+student[5]+'" alt="">';
            }else{
              image = '<img class="w-[120px] h-[70px] rounded justify-center items-end" id="studentProfileImage" src="{% static "images/student.jpg" %}" alt="">';
            }
            $("#showStudentimage").append(image)
          }
          
          
          
        }
      })
      
    })
  })
  $("#edit_profile_image").on("change",()=>{
    var progile_image = document.getElementById('edit_profile_image');
    $("#studentProfileImage").attr('src',URL.createObjectURL(progile_image.files[0]))
  })

</script>
{% endblock sadminScripts %}