{% extends 'bcga/basic/main.html' %}
{% block headerImage %}
<img class="lg:h-[72.6vh] h-[40vh] w-full" src="https://npr.brightspotcdn.com/dims4/default/679aa4a/2147483647/strip/true/crop/6000x4000+0+0/resize/880x587!/quality/90/?url=http:%2F%2Fnpr-brightspot.s3.amazonaws.com%2F05%2F3c%2Fd06511894002b1658dcc885b56cc%2Fmicrosoftteams-image.png" alt="">
{% endblock headerImage %}
{% block headerText %}
<h1 class="font-['Roboto'] lg:text-[44px] text-[24px] #fff font-[700px] uppercase">CONTACT US</h1> 

{% endblock headerText %}
{% block bcgaMain %}
<div class="lg:mx-[210px] mx-0 lg:px-[32px] px-0 lg:py-[96px] py-[40px] flex flex-col justify-center">
    <div class="w-[100%]">
        <div class="w-[100%] pb-[17px] px-[17px] flex lg:flex-row flex-col justify-between">
            <div class="lg:w-[50%] w-[100%]">
                <img src="https://images.squarespace-cdn.com/content/v1/5d94a2dd7046bc4760c90517/1616334255887-OFJC7PPE9FKCDAFHOMUP/unsplash-image-xG8IQMqMITM.jpg?format=2500w" alt="">
            </div>
            <div class="lg:w-[50%] w-[100%] lg:text-[24px] text-[20px] lg:p-[42px] p-[34.7px] flex flex-col justify-center items-center space-y-2 text-center text-[rgba(0,0,0,.68)]">
                <p class="text-[#bdbdbd] font-semibold font-['proxima-nova'] leading-[24px] uppercase tracking-[.3rem] mb-2">LET’S CONNECT</p>
                <p class="font-['adobe-garamond-pro']">If you are looking at this page, you probably share our passion for security studies !</p>
                <p class="font-['adobe-garamond-pro']">Feel free to discover and discuss our content, and if you have questions, wish to develop a partnership or to become an author, drop us a message.</p>
            </div>
        </div>
        <div class="lg:w-[745px] w-[100%] text-[rgba(26,26,26,.7)]">
            <div>

            </div>
        </div>
    </div>
    <div class="px-[17px] pb-[17px]">
        <form action="{% url "bcga:contact_save" %}" method="post">
            {% csrf_token %}
            <div class="grid lg:grid-cols-2 lg:gap-4 grid-cols-1">
                <div class="py-2">
                    <label for="f_name" class="text-[rgba(26,26,26,.7)] text-[18px] font-['adobe-garamond-pro']">First Name <span class="text-[12px]">(required)</span></label>
                    <input type="text" name="f_name" class=" border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] h-[46px] p-[10px] w-[100%]" id="f_name" required>
                </div>
                <div class="py-2">
                    <label for="l_name" class="text-[rgba(26,26,26,.7)] text-[18px] font-['adobe-garamond-pro']">Last Name <span class="text-[12px]">(required)</span></label>
                    <input type="text" name="l_name" class=" border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] h-[46px] p-[10px] w-[100%]" id="l_name" required>
                </div>
            </div>
            <div class="py-2">
                <label for="email" class="text-[rgba(26,26,26,.7)] text-[18px] font-['adobe-garamond-pro']">Email <span class="text-[12px]">(required)</span></label>
                <input type="email" name="email" class="border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] h-[46px] p-[10px] w-[100%]" id="email" required>
            </div>
            <div class="py-2">
                <label for="subject" class="text-[rgba(26,26,26,.7)] text-[18px] font-['adobe-garamond-pro']">Subject <span class="text-[12px]">(required)</span></label>
                <input type="text" name="subject" class=" border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] h-[46px] p-[10px] w-[100%]" id="subject" required>
            </div>
            <div class="py-2">
                <label for="message" class="text-[rgba(26,26,26,.7)] text-[18px] font-['adobe-garamond-pro']">Message <span class="text-[12px]">(required)</span></label>
                <textarea name="message" id="message" rows="4" class="border-2 border-solid border-[#a9a9a9] bg-[#fafafa] text-[#000] w-[100%]" required></textarea>
            </div>
            <div class="py-4 flex justify-center items-center">
                <button type="submit" class="text-white uppercase bg-black py-[14px] px-6 hover:opacity-90 font-semibold">submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock bcgaMain %}