
<div class="lg:w-[245px] w-[100%] p-[17px] lg:p-0">
    <h1 class="text-[#00746b] text-start text-[22px] font-serif mb-[16px]">Topics</h1>
    <div class="parent">
        <h1 class=" block lg:hidden text-end text-[22px] mx-auto">
            +
        </h1>
        <div class="lg:block hidden child">
            <div class="flex flex-col space-y-2 text-[rgba(26,26,26,.4)] font-serif">
                {% for topic in all_topics %}
                    {% url "bcga:topic" topic.slug as counter %}
                    <a href="{{counter}}" class="text-[14px] hover:text-black {% if request.path == counter %}text-black{% endif %} ">{{topic.name}}</a>
                {% endfor %}
                
            </div>
        </div>
    </div>
</div>