<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% include 'bcga/basic/head.html' %}
    <title>Home</title>
    
</head>
<body id="home">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                {% include "notifications/success.html" %}
            {% endif %}
            {% if message.tags == 'warning' %}
                    {% include "notifications/warning.html" %}
            {% endif %}
                 {% if message.tags == 'error' %}
                    {% include "notifications/error.html" %}
                 {% endif %}
        {% endfor %}
    {% endif %}
    <header>
        <div id="main" class="lg:h-[72.6vh] h-[40vh] w-full">
            <div class="absolute  w-full">
                {% block headerImage %}{% endblock headerImage %}
            </div>
            {% include "bcga/basic/header.html" %}
            <div class="lg:p-[0px] p-[32px] lg:mt-[100px] text-[#fff] text-center flex flex-col justify-center items-center space-y-4">
                {% block headerText %}{% endblock headerText %}
            </div>
        </div>
    </header>
    <main class="">
        {% block bcgaMain %}{% endblock bcgaMain %}
    </main>
    {% include 'bcga/basic/footer.html' %}
    {% include 'bcga/basic/script.html' %}
    {% block bcgaScript %}{% endblock bcgaScript %}
</body>
</html>