{% extends "studentt/main.html" %}
{% block studentMain %}
<div class="lg:h-[26.6vh] h-[40vh] w-full">
    <div class="absolute  w-full">
        {% if event.image != "" %}
            <img class="lg:h-[26.6vh] h-[40vh] w-full" src="{{event.image.url}}" alt="">
        {% else %}
            <img class="lg:h-[26.6vh] h-[40vh] w-full" src="https://npr.brightspotcdn.com/dims4/default/679aa4a/2147483647/strip/true/crop/6000x4000+0+0/resize/880x587!/quality/90/?url=http:%2F%2Fnpr-brightspot.s3.amazonaws.com%2F05%2F3c%2Fd06511894002b1658dcc885b56cc%2Fmicrosoftteams-image.png" alt="">
        {% endif %}
    </div>
    <div class="lg:p-[0px] p-[32px] h-full text-[#fff] text-center flex flex-col justify-center items-center space-y-4">
        <h1 class="font-['Roboto'] h-100 z-10 lg:text-[25px] text-[24px] #fff font-[700px] uppercase">{{event.title}}</h1> 
    </div>
</div>
<div class="lg:mx-[210px] mx-0 lg:px-[32px] px-0 lg:py-[96px] py-[40px] flex space-y-4 flex-col justify-center">
    <div class="grid lg:grid-cols-3 grid-cols-1 gap-8 text-[18px] lg:px-0 px-[17px]">
        <div class="flex flex-col space-y-7">
            <h1 class="text-[28px] font-['adobe-garamond-pro'] text-[rgba(26,26,26,.9)]">{{event.title}}</h1>
            <div>
                <h1 class="text-[18px] font-['Roboto'] text-[rgba(26,26,26,.7)]">{{event.event_date|date:"l m d,Y"}}</h1>
                <h1 class="text-[18px] font-['Roboto'] text-[rgba(26,26,26,.7)]">{{event.event_start|date:'h:i A'}}  {{event.event_end|date:"h:i A"}}</h1>
            </div>
        </div>
        <div class="text-justify leading-[1.6rem] text-[rgba(26,26,26,.7)] font-[400px] font-['adobe-garamond-pro']">
            {{event.event_content|safe}}
            <div class="my-[18px] p-[17px] flex justify-center items-center">
                <button class="text-white uppercase bg-[#36b3a8] py-[14px] px-6 hover:opacity-90 rounded-[32px] font-semibold">Registration</button>
            </div>
            
        </div>
        <div class="text-justify leading-[1.6rem] text-[rgba(26,26,26,.7)] font-[400px] italic font-['adobe-garamond-pro']">
            <h1 class="font-semibold">{{event.cheaf_guest}}</h1>
            <div>
                {{event.guest_details_info|safe}}
            </div>
            
        </div>
    </div>
</div>


{% endblock studentMain %}

