{% extends "teachert/main.html" %}
{% block teacherMain %}
<div class="bg-cyan-600">
    <div class="text-center py-4 text-3xl text-white">All Topic</div>
    
</div>
<div class="px-2">
    <div class=" overflow-x-auto h-screen overflow-y-auto p-6">
        <table class="w-full h-[100px] text-sm text-left text-white dark:text-gray-400">
            <thead>
                <tr class=" border-b text-black dark:bg-gray-800 dark:border-gray-700">
                    <th class="px-3 py-3">
                        UID
                    </th>
                    <th class="px-3 py-3">
                        Name
                    </th>
                    <th class="px-3 py-3">
                        Username
                    </th>
                    <th  class="px-3 py-3">
                        Email
                    </th>
                    <th class="px-3 py-3">
                        Phone
                    </th>
                    <th  class="px-3 py-3">
                        Promo Code
                    </th>
                    <th class="px-3 py-3">
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-b dark:bg-gray-800 dark:border-gray-700">
                    <td  class="px-3 py-3">
                        
                    </td>
                    <td  class="px-3 py-3">
                        
                    </td>
                    <td class="px-3 py-3">
                       
                    </td>
                    <td  class="px-3 py-3">
                        
                    </td>
                    <td  class="px-3 py-3">
                        
                    </td>
                    <td class="px-3 py-3">
                        
                    </td>
                    <td class="px-3 py-3 m-2 text-white bg-<?php echo $color ?>">
                       
                    </td>
                </tr>  
                <tr class="border-b dark:bg-gray-800 dark:border-gray-700">
                    <td  class="px-3 py-3">
                        
                    </td>
                    <td  class="px-3 py-3">
                        
                    </td>
                    <td class="px-3 py-3">
                        
                    </td>
                    <td  class="px-3 py-3">
                        
                    </td>
                    <td  class="px-3 py-3">
                       
                    </td>
                    <td class="px-3 py-3">
                        
                    </td>
                    <td class="px-3 py-3 m-2 text-white bg-<?php echo $color ?>">
                       
                    </td>
                </tr>  
            </tbody>
        </table>
    </div>
</div>

{% endblock teacherMain %}